@media (min-width: 1200px) {
  header nav h1 {
    font-size: 2em;
  }


}

@media (max-width: 1200px) {
  
  #TheCoffee {
    padding: 3em;
    align-items: center;
  }

  #TheCoffee h2 {
    padding: 0.8em;
    font-size: 3em;
  }

  .aCoffee {
    padding: 1em;
    width: 100%;
  }

  .aCoffee p {
    padding: 0.8;
    font-size: 0.8em;
    letter-spacing: 0.4em;
    line-height: 2.4em;
    text-align: justify;
  }

  #TheCoffeeTwo {
    padding: 3em;
    align-items: center;
  }
  
  #TheCoffeeTwo h2 {
    padding: 0.8em;
    font-size: 3em;
  }
  
  #TheCoffeeTwo span {
    padding: 10px;
    font-size: 0.7em;
  }
  
  #TheCoffeeTwo .aCoffee {
    padding: 10px;
    width: 600px;
  }
  
  .CoffeeTable {
    width: 100%;
  }
  
  .CoffeeTable caption {
    padding: 20px;
    font-size: 1em;
    text-transform: uppercase;
  }
  
  .CoffeeTable tr, td {
    padding: 10px;
    font-size: 0.8em;
    border: 1px solid #260b01;
  }
  
  #Products {
    padding: 3em;
  }

  #Products h2 {
    padding: 0.8em;
    font-size: 2.4em;
  }

  .aProducts {
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .aProducts img {
    margin: 1em;
    display: block;
    max-width: 60%;
  }

  .aProducts figcaption {
    padding: 0.3em;
    font-size: 1.3em;
    font-weight: 800;
  }

  .aProducts p {
    padding: 0.3em;
    font-size: 1.4em;
    font-weight: 800;
  }

  footer article {
    padding: 10px;
    width: 300px;
  }

  footer article h2 {
    padding: 0.5em;
    font-size: 1.1em;
  }

  footer article h3 {
    padding: 0.3em;
    font-size: 0.9em;
  }

  footer form input {
    margin: 0.8em;
    width: 200px;
  }

  .media {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }
}

@media (max-width: 780px) {
  header nav {
    display: flex;
    flex-direction: column;
    line-height: 3em;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul li a {
    padding: 1em 0.6em 1em 0.6em;
  }

  main {
    flex-direction: column;
  }

  main aside {
    width: 100vw;
  }

  main aside article figure img {
    width: 180px;
  }

  .tag {
    width: 100%;
    font-size: 1em;
  }

  #TheCoffee {
    padding: 2em;
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-image: url(/img/bg/coffee3.jpg);
    background-size: cover;
    background-position: center;
  }

  #TheCoffee h2 {
    padding: 0.6em;
    font-size: 2em;
  }

  #Products h2 {
    padding: 0.4em;
    font-size: 2em;
  }

  .aProducts {
    padding: 0.3em;
    width: 100%;
  }

  .aProducts img {
    margin: 0.4em;
    display: block;
    max-width: 100%;
  }

  .aProducts figcaption {
    padding: 0.3em;
    font-size: 1.1em;
    font-weight: 800;
  }

  .aProducts p {
    padding: 0.3em;
    font-size: 1.2em;
    font-weight: 800;
  }

  footer section {
    width: 100%;
    flex-direction: column;
  }

  footer article {
    padding: 1em;
    align-items: left;
    width: 100%;
  }

  .media {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  footer form input {
    margin: 0.5em;
    width: 180px;
  }

  .media {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }

  #dev {
    height: 100px;
  }
    

  #dev article {
    width: 300px;
  }
}

@media (max-width: 406px) {
  nav ul li a {
    padding: 0.8em;
    font-size: 0.9em;
  }
}
